body {
    background: rgb(2, 0, 36);
    background: radial-gradient( circle, rgba(2, 0, 36, 1) 0%, rgba(14, 14, 170, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    text-align: center;
}

.footer-container {
    text-align: center;
}


/* canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
} */